EXPERIMENT 1 numpy and pandas

In [2]:
# from ndarray
import numpy as np
import pandas as pd
pd.Series(np.random.rand(5))

0    0.825070
1    0.156767
2    0.667285
3    0.945946
4    0.020893
dtype: float64

In [3]:
s =pd.Series(np.random.randn(5), index=["a","b","c","d","e"])
s

a   -0.069079
b    0.340133
c    0.071487
d    1.165290
e    0.415447
dtype: float64

In [4]:
#series by dictonary
d = {"b":1,"a":0,"c":2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [5]:
#Creating data frame
list1 = [['sam',14,20],['nick',18,19],['harry',22,17]]
df1 = pd.DataFrame(list1,columns=['Name','Age','Score'])
df1

    Name  Age  Score
0    sam   14     20
1   nick   18     19
2  harry   22     17

In [6]:
#creating data frame by dictionary
dict1 = {'Name': ['Sam','Nick','Harry','Anna'],
         'Age': [15,16,17,20],
         'Marks' : [20,20,19,10],
         'Rollno' : [1,2,3,4]
         }

df2 = pd.DataFrame(dict1)
df2=df2.set_index('Rollno')
df2

         Name  Age  Marks
Rollno
1         Sam   15     20
2        Nick   16     20
3       Harry   17     19
4        Anna   20     10

In [7]:
df2.loc[[1,4]]

        Name  Age  Marks
Rollno
1        Sam   15     20
4       Anna   20     10

In [8]:
df2.loc[1:4]

         Name  Age  Marks
Rollno
1         Sam   15     20
2        Nick   16     20
3       Harry   17     19
4        Anna   20     10

In [9]:
df2[['Name','Age']]

         Name  Age
Rollno
1         Sam   15
2        Nick   16
3       Harry   17
4        Anna   20

In [10]:
new_df = df2
new_df.insert(3,'Class',['FE','SE','TE','BE'])
new_df

         Name  Age  Marks Class
Rollno
1         Sam   15     20    FE
2        Nick   16     20    SE
3       Harry   17     19    TE
4        Anna   20     10    BE

In [21]:
#delete a column
new_df.drop(['Class'],axis=1,inplace=True)
new_df

KeyError: ignored